<!DOCTYPE html>
<html lang="fr">
  <head>
  	{% set root_path = '/ensc-transpromo' %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="{{ root_path }}/web//css/style.css">
    <link rel="icon" href="{{ root_path }}/web/img/favicon.ico" />
    <title>ENSC - Projet transpromo</title>
  </head>

  <body style="background-color: rgb(241, 242, 246);">
    <div id="wrap">

    	{% include 'navbar.html.twig' %}

      <div class="container">
      	{% if notif is not empty %}
				<div class="row">
					<div class="alert alert-{{ notif.type }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h4>{{ notif.title }}</h4>
            <p>{{ notif.message }}</p>
            {% if notif.action %}
            	<p><a class="btn btn-{{ notif.type }}" href="{{ notif.action.target }}">{{ notif.action.label }}</a>
            	{% if notif.alt %} <a class="btn btn-link" href="{{ notif.alt.target }}">{{ notif.alt.label }}</a> {% endif %}
            	</p>
            {% endif %}
          </div>
				</div>
				{% endif %}

      	{% block content %}
      	{% endblock %}
      </div>
    </div>
		<div class="footer">
			<div class="container">
        <div class="clearfix">
          <div class="footer-logo"><a href="#" style="margin-left:50px;">ENSC</a><img src="{{ root_path }}/web/img/Logo_ENSC_INP.png" /></div>
            <dl class="footer-nav">
	            <dt class="nav-title">NAVIGATION</dt>
	            <dd class="nav-item"><a href="{{ root_path }}/">Accueil</a></dd>
	            <dd class="nav-item"><a href="{{ root_path }}/project">Projets</a></dd>
	            <dd class="nav-item"><a href="{{ root_path }}/idea">Idées</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title">ACTIONS</dt>
              <dd class="nav-item"><a href="#">Candidatures</a></dd>
              <dd class="nav-item"><a href="#">Profil</a></dd>
              <dd class="nav-item"><a href="#">Déconnexion</a></dd>
            </dl>
            <dl class="footer-nav">
              <dt class="nav-title">À propos</dt>
              <dd class="nav-item"><a href="#">Contexte</a></dd>
              <dd class="nav-item"><a href="#">Code source</a></dd>
              <dd class="nav-item"><a href="#">CGU</a></dd>
            </dl>
        </div>
        <div class="footer-copyright text-center">ensc-transpromo v0.8</div><!--Copyright &copy; 2014 ensc-transpromo. All rights reserved.-->
      </div>
		</div>

    <!-- Bootstrap -->
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- Bootflat's JS files.-->
    <script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
    <script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
  </body>
</html>