{% extends "base.html.twig" %}

{% block content %}
<div class="row">
  <div class="col-sm-3 col-md-3"></div>
  <div class="col-sm-6 col-md-6">
    <form class="form-signin" role="form" action="{{ root_path }}/project/edit/{{project.id_proj}}" method="post">
      <h2 class="form-signin-heading">Éditer un projet</h2>
      <input type="text" name="title" class="form-control" value="{{ project.titre }}" required autofocus>

      <textarea name="descr" class="form-control" rows="3" required>{{ project.desc_travail }}</textarea>
      <textarea name="seek" class="form-control" rows="3" required>{{ project.desc_profil }}</textarea>

      <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:20px;">Éditer</button>
    </form>
  </div>
  <div class="col-sm-3 col-md-3"></div>
</div>
{% endblock %}